<h1>Kitties#edit</h1>
<p>Find me in app/views/kitties/edit.html.erb</p>

<h1>Edit a Kitty</h1>

<%= form_for @kitty do |f| %>
    <%= f.text_field(:name, placeholder: "Name", :maxlength => 32) %>
    <%= f.number_field(:age, placeholder: "Age" , :maxlength => 10 ) %>
    <%= f.text_field(:breed, placeholder: "Breed" , :maxlength => 32) %>
    <%= f.text_field(:image, placeholder: "Image URL" ) %>
     Neutered: <%= f.check_box(:neutered) %>
     <br>
     <br>
    <%= f.submit() %>
    <BR>
    <BR>
    
    <%= link_to("Return" , kitty_path(@kitty)) %>
<% end %>