<h1>Kitties#show</h1>
<p>Find me in app/views/kitties/show.html.erb</p>





                Name: <%= @oneKitty.name %><br>
                Age: <%= @oneKitty.age %><br>
                Breed: <%= @oneKitty.breed %><br>
                Neutered: <%= @oneKitty.neutered %><br>
                <img id="" src="<%= @oneKitty.image %>" width="200">
                <!-- <%= image_tag(@oneKitty.image) %> -->
                </br>
                <a href="/kitties/">Return</a>